html {
    font-family: 'Calibri', sans-serif;
    font-size: 14;
}

#container {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.content {
    display: flex;
    background-color:lavender;
    flex-direction: row;
    border-style: dotted;
    border-color:black;
    width: 100%;
    padding: 25px;
    height: auto;
    margin: auto;
}